{% extends 'base.html' %}

{% block title %}Recipe Book{% endblock %}
{% block pagetitle %}Recipe Details{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2>{{ object.name }} by {{ object.author.username }}</h2>
        {% for image in object.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}
        <a href="{% url 'ledger:recipe_add_image' object.pk %}">Add Image</a>
        <ul>
            {% for ingredient in object.ingredients.all %}
            <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}